

{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p>This is your profile page my friend!</p>
  <img src="{{userInSession.imgUrl}}" alt="User avatar" />
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
  <a href="/edit"><button>EDIT</button></a>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}